## CURRENT INVENTORY
Here are your available resources for trading:

* **CASH:** ${{ "%.2f"|format(cash) }}
* **APPLE:** {{ apple }} units
* **CHIP:** {{ chip }} units
* **GOLD:** {{ gold }} units

---